@use '../tools/mixins';

.login-container {
   width: 90%;
   margin: 90px auto 0;
   max-width: 400px;

   @include mixins.media-query-md() {
      margin: 30px auto;
   }

   &__title {
      width: 100%;
      text-align: center;
      padding: 20px 0;
   }

   &__form {
      width: 100%;
   }
}
